ul.checkboxset {
  padding: 0;
  list-style: none;
  input.checkbox {
    display:inline;
  }
}
.field, .btn-toolbar {
  padding: 10px 0 20px;
  border-bottom: 1px solid #dfe5e9;
}

.product-content {
  border: 1px solid #dfe5e9;
  margin-bottom: 20px;
  background: #ffffff;
}
.product-content .carousel-control.left {
  margin-left: 0px;
}
.product-content .product-image {
  background-color: #ffffff;
  display: block;
  min-height: 300px;
  overflow: hidden;
  position: relative;
}
.product-content .property-list {
  border-bottom: 1px solid #dfe5e9;
  padding-bottom: 17px;
  padding-left: 16px;
  padding-top: 16px;
  position: relative;
  background: #ffffff;
}
.product-content .property-list h5 a {
  color: #2f383d;
  font-size: 15px;
  line-height: 19px;
  text-decoration: none;
  padding-left: 0px;
  margin-left: 0px;
}
.product-content .property-list h5 a span {
  color: #9aa7af;
  display: block;
  font-size: 13px;
}
.product-content .property-list p.price-container span {
  line-height: 15px;
}
.product-content .property-list span.sale {
  background-color: #21c2f8;
}
.product-content .property-list span.discount {
  background-color: #71e134;
}
.product-content .property-list span.hot {
  background-color: #fa9442;
}
.product-content .description {
  font-size: 12.5px;
  line-height: 20px;
  padding: 8px 14px 0 19px;
  background: #ffffff;
  p {
    font-size: 12.5px;
  }
}
.product-content .product-info {
  padding: 11px 19px 10px 20px;
}
.product-content .product-info a.add-to-cart {
  color: #2f383d;
  font-size: 13px;
  padding-left: 16px;
}
.product-content name.a {
  padding: 5px 10px;
  margin-left: 16px;
}
.product-info.smart-form .btn {
  padding: 6px 12px;
  margin-left: 12px;
  margin-top: -10px;
}
.product-entry .property-list {
  border-bottom: 1px solid #dfe5e9;
  padding-bottom: 17px;
  padding-left: 16px;
  padding-top: 16px;
  position: relative;
}
.product-entry .property-list h5 a {
  color: #2f383d;
  font-size: 15px;
  line-height: 19px;
  text-decoration: none;
}
.product-entry .property-list h5 a span {
  color: #9aa7af;
  display: block;
  font-size: 13px;
}
.product-entry .property-list p.price-container span {
  line-height: 15px;
}
.load-more-btn {
  background-color: #21c2f8;
  border-bottom: 2px solid #037ca5;
  border-radius: 2px;
  border-top: 2px solid #00ccff;
  margin-top: 20px;
  padding: 9px 0px;
  width: 100%;
}
.product-block .property-list p.price-container span,
.product-content .property-list p.price-container span,
.product-entry .property-list p.price-container span,
.shopping-items table tbody tr td p.price-container span,
.shipping table tbody tr td p.price-container span {
  color: #21c2f8;
  font-family: 'Lato', sans-serif;
  font-size: 24px;
  line-height: 20px;
}
.product-info.smart-form .rating label {
  margin-top: 0px;
}
.product-wrap .product-image span.tag2 {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  padding: 10px 0px;
  color: #fff;
  font-size: 11px;
  text-align: center;
}
.product-wrap .product-image span.sale {
  background-color: #57889c;
}
.product-wrap .product-image span.hot {
  background-color: #a90329;
}
.shop-btn {
  position: relative;
}
.shop-btn > span {
  background: #a90329;
  display: inline-block;
  font-size: 10px;
  box-shadow: inset 1px 1px 0 rgba(0, 0, 0, 0.1), inset 0 -1px 0 rgba(0, 0, 0, 0.07);
  font-weight: bold;
  border-radius: 50%;
  padding: 2px 4px 3px 4px !important;
  text-align: center;
  line-height: normal;
  width: 19px;
  top: -7px;
  left: -7px;
}
.description-tabs {
  padding: 30px 0px 5px 0px !important;
}
.description-tabs .tab-content {
  padding: 10px 0px;
}
.property-list {
  padding: 30px 30px 50px 30px;
}
.property-list hr + .description-tabs {
  padding: 0px 0px 5px 0px !important;
}
.property-list .carousel-control.right,
.property-list .carousel-control.left {
  background: none !important;
}
.property-list .glyphicon {
  color: #3276b1;
}
.property-list .product-image {
  border-right: none !important;
}
.property-list .name {
  margin-top: 0px;
  margin-bottom: 0px;
}
.property-list .name small {
  display: block;
}
.property-list .name a {
  margin-left: 0px;
}
.property-list .price-container {
  font-size: 24px;
  margin: 0px;
  font-weight: 300;
}
.property-list .price-container small {
  font-size: 12px;
}
.property-list .fa-2x {
  font-size: 16px !important;
}
.property-list .fa-2x > h5 {
  font-size: 12px;
  margin: 0px;
}
.property-list .fa-2x + a,
.property-list .fa-2x + a + a {
  font-size: 13px;
}
.property-list .certified {
  margin-top: 10px;
}
.property-list .certified ul {
  padding-left: 0px;
}
.property-list .certified ul li:not(first-child) {
  margin-left: -3px;
}
.property-list .certified ul li {
  display: inline-block;
  background-color: #f9f9f9;
  border: 1px solid #ccc;
  padding: 13px 19px;
}
.property-list .certified ul li:first-child {
  border-right: none;
}
.property-list .certified ul li a {
  text-align: left;
  font-size: 12px;
  color: #6d7a83;
  line-height: 16px;
  text-decoration: none;
}
.property-list .certified ul li a span {
  display: block;
  color: #21c2f8;
  font-size: 13px;
  font-weight: 700;
  text-align: center;
}
.property-list .message-text {
  width: calc(100% - 70px);
}
@media only screen and (min-width: 1024px) {
  .product-content .product-image {
    border-right: 1px solid #dfe5e9;
    margin-right: -13px;
  }
  .product-content .product-info {
    position: relative;
  }
  .product-content .product-info,
  .product-content .description,
  .product-content .property-list {
    margin-left: -13px;
  }
  .property-list.product-content .product-info,
  .property-list.product-content .description,
  .property-list.product-content .description {
    margin-left: 0;
  }
}

.amenities{
  width:100%;
  list-style:none;
  padding:6px 10px;
  margin:0;
  text-align: center;

  li{
    display:inline-block;
    height:38px;
    margin-right:10px;
    padding-right:10px;
    padding-top:10px;
    border-right:1px solid #dfe5e9;
    color:$gray-light;

    &:last-child{
      border-right:none;
      margin-right:0px;
      padding-right:0px;
    }

    .fa{
      color:$gray-light;
      font-size:18px;
    }

    [class^="icon-"],
    [class*=" icon-"]{
      color:$gray-light;
      float: left;
      font-size: 20px;
      margin-right: 3px;
      margin-top: -3px;
    }
  }
}
